[submodule "charactersheet"]
	path = src/charactersheet
    	url = https://github.com/Ocxyde/RCharacterSheet.git
    	pushURL = git@github.com:Ocxyde/RCharacterSheet.git
[submodule "diceparser"]
	path = src/diceparser
	url = https://github.com/Ocxyde/DiceParser.git
    	pushURL = git@github.com:Ocxyde/DiceParser.git
[submodule "common"]
	path = src/common
    	url = https://github.com/Ocxyde/common.git
    #pushURL = git@invent.kde.org:kde/rolisteam-common.git
